In [2]:
import pandas as pd

In [3]:
# Adding using +
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        0: [10, 20, 30, 40],
        1: [50, 60, 70, 80],
        2: [90, 100, 110, 120],
        3: [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df + s

    0   1    2    3
0  10  50   90  130
1  20  60  100  140
2  30  70  110  150
3  40  80  120  160

    0   1    2    3
0  11  52   93  134
1  21  62  103  144
2  31  72  113  154
3  41  82  123  164

In [4]:
# Adding with axis='index'
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        0: [10, 20, 30, 40],
        1: [50, 60, 70, 80],
        2: [90, 100, 110, 120],
        3: [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df.add(s, axis='index')
    # The functions sub(), mul(), and div() work similarly to add()

    0   1    2    3
0  10  50   90  130
1  20  60  100  140
2  30  70  110  150
3  40  80  120  160

    0   1    2    3
0  11  51   91  131
1  22  62  102  142
2  33  73  113  153
3  44  84  124  164

In [5]:
# Adding with axis='columns'
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        0: [10, 20, 30, 40],
        1: [50, 60, 70, 80],
        2: [90, 100, 110, 120],
        3: [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df.add(s, axis='columns')
    # The functions sub(), mul(), and div() work similarly to add()

    0   1    2    3
0  10  50   90  130
1  20  60  100  140
2  30  70  110  150
3  40  80  120  160

    0   1    2    3
0  11  52   93  134
1  21  62  103  144
2  31  72  113  154
3  41  82  123  164

In [32]:
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

In [41]:
grades_df.head()

        exam1  exam2
Andre      43     24
Barry      81     63
Chris      78     56
Dan        75     56
Emilio     89     67

In [56]:
diff = (grades_df.add(-grades_df.mean(axis='columns'), axis='index'))
diff.div(grades_df.std(axis='columns'), axis='index')

            exam1     exam2
Andre    0.707107 -0.707107
Barry    0.707107 -0.707107
Chris    0.707107 -0.707107
Dan      0.707107 -0.707107
Emilio   0.707107 -0.707107
Fred     0.707107 -0.707107
Greta    0.707107 -0.707107
Humbert  0.707107 -0.707107
Ivan     0.707107 -0.707107
James    0.707107 -0.707107

In [20]:
def standardize(df):
    '''
    Fill in this function to standardize each column of the given
    DataFrame. To standardize a variable, convert each value to the
    number of standard deviations it is above or below the mean.
    
    This time, try to use vectorized operations instead of apply().
    You should get the same results as you did before.
    '''
    
    mean1 = df.exam1.mean()
    std1 = df.exam1.std(ddof=0)
    df['standardize1'] = (df.exam1 - mean1)/std1

    mean2 = df.exam2.mean()
    std2 = df.exam2.std(ddof=0)
    df['standardize2'] = (df.exam2-mean2)/std2
    
    '''or like this:'''
    r = (df-df.mean())/df.std(ddof=0)
    return r

In [29]:
standardize(grades_df)

            exam1     exam2  standardize1  standardize2
Andre   -2.315341 -2.304599     -2.315341     -2.304599
Barry    0.220191  0.386400      0.220191      0.386400
Chris    0.020017 -0.096600      0.020017     -0.096600
Dan     -0.180156 -0.096600     -0.180156     -0.096600
Emilio   0.753987  0.662400      0.753987      0.662400
Fred    -0.513779 -0.441600     -0.513779     -0.441600
Greta    0.887436  1.490400      0.887436      1.490400
Humbert -0.847401 -0.786600     -0.847401     -0.786600
Ivan     1.354508  1.007400      1.354508      1.007400
James    0.620538  0.179400      0.620538      0.179400

In [52]:
def standardize_rows(df):
    '''
    Optional: Fill in this function to standardize each row of the given
    DataFrame. Again, try not to use apply().
    
    This one is more challenging than standardizing each column!
    '''
    diff = (grades_df.add(-grades_df.mean(axis=1), axis='index'))
    r=diff.divide(grades_df.std(axis=1, ddof=0), axis='index')
    return r

In [53]:
standardize_rows(grades_df)

         exam1  exam2
Andre      1.0   -1.0
Barry      1.0   -1.0
Chris      1.0   -1.0
Dan        1.0   -1.0
Emilio     1.0   -1.0
Fred       1.0   -1.0
Greta      1.0   -1.0
Humbert    1.0   -1.0
Ivan       1.0   -1.0
James      1.0   -1.0